:host {
  height: 100%;
  display: flex;
  nb-card {
    width: 100%;
  }
  .chart-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    ngx-charts-pie-chart {
      flex-grow: 1;
    }
  }

  .stat-row {
    margin-bottom: 10px;
    .title {
      i {
        margin-inline-end: 10px;
      }
    }
    .evaluation,
    .value {
      display: flex;
      justify-content: end;
    }
  }
}
