<nb-card class="shadow" size="tiny">
  <nb-card-body>
    <div class="container-fluid ">
      <div class="row border-bottom">
        <div class="col-6 p-0 border-right">
          <div class="box  ">
            <i class="fas fa-user-graduate fa-2x" style="color: #002e2c;"></i>
            <div class="text">
              <strong>5841</strong>
              <span class="label">Students</span>
            </div>
          </div>
        </div>
        <div class="col-6 p-0">
          <div class="box">
            <i class="fas fa-chalkboard-teacher fa-2x" style="color: #664E4C;"></i>
            <div class="text">
              <strong>421</strong>
              <span class="label">Teachers</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row ">
        <div class="col-6 p-0 border-right">
          <div class="box  ">
            <i class="fas fa-school fa-2x" style="color: #ff9900;"></i>
            <div class="text">
              <strong>320</strong>
              <span class="label">Camps</span>
            </div>
          </div>
        </div>
        <div class="col-6 p-0">
          <div class="box">
            <i class="far fa-eye fa-2x" style="color: #454372;"></i>
            <div class="text">
              <strong>10000</strong>
              <span class="label">Visitors</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </nb-card-body>
</nb-card>
