.container-fluid{
  display: flex;
  flex-direction: column;
  height: 100%;
  .row{
   flex-grow: 1;
  }
}
.box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10%;

  // i{
  //   font-size: x-large;
  // }
  .text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
