.container-fluid{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0;
  .graph-wrapper
  {
    flex-grow: 1;
    width: 100%;
    align-items: center;
    padding: 10px;
  }

}
::ng-deep ngx-chartjs div {
  position: relative;
  height: 100%;
  width: 100%;
}


.stat{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .value{
    font-weight: bold;
    font-size: large;
  }
}
